<center>
 <h1><font color="#990000">The</font> <font color="#4791DA">Dictionary</font></h1>
 <h3>
 Welcome to the Dictionary app : Where the definitions have no bounds and the word is your oyster
</h3>
 <br>
 <b>First:</b>
  Wingardium Leviosa a word.
 <br>
 <b>Second:</b>
 After using the magic word, click the word and add a definition to it.
 <br>
 <b>Third:</b>
 Use the force
 <br>
 <br>
 <br>
 <form action="/new_word" method="post">
  <div class="form-group">
    <label for="word_input">Enter your word here:</label>
    <input id="word_input" name="word_input" class="form control" type="text" placeholder="i.e. Jedi">
  </div>
  <br>
  <button type="submit" class="btn-primary">Wingardium Leviosa</button>
  </form>
  <br>
  <br>
  </center>
  <hr>
  Here is the total list of words in this dictionary:
  <ul>
  <% @word.each() do |word| %>
  <li><a href="/details/<%= word.id() %>"><%= word.word() %></a></li>
  <% end %>
  </ul>
